server:
  port: 7000

eureka:
  instance:
    hostname: localhost
  client:
    ##通过eureka.client.registerWithEureka：false和fetchRegistry：false来表明自己是一个eureka server
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  #server:
    #enableSelfPreservation: false

spring:
  application:
    name: eurka-server